<footer>
    <div class="navs">
        <div class="ft-item-group">
            <h4 class="ft-title">About</h4>
            <ul>
                <li><a routerLink="/feet">Feet</a></li>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Link</a></li>
            </ul>
        </div>

        <div class="ft-item-group">
            <h4 class="ft-title">Contact</h4>
            <ul>
                <li><a routerLink="/">Link</a></li>
                <li><a routerLink="/">Link</a></li>
            </ul>
        </div>

        <div class="ft-item-group">
            <h4 class="ft-title">Sources</h4>
            <ul>
                <li><a routerLink="/">Link</a></li>
                <li><a routerLink="/">Link</a></li>
                <li><a routerLink="/">Link</a></li>
            </ul>
        </div>
    </div>

    <hr width="95%" style="color: lightgray"/>

    <div class="sosh-meeds">
        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png" height="40px" />
        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png" height="40px" />
        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png" height="40px" />
        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png" height="40px" />
    </div>

    <div class="legal">
        <div class="sublegal">
            <p><a routerLink="/tac">Terms & Conditions</a></p>
            &nbsp;&nbsp;
            <p><a routerLink="/privacy">Privacy Policy</a></p>
        </div>
        &nbsp;&nbsp;
        <p>(C) 2020 Copyright BlueDragonDev</p>
    </div>

</footer>